@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$border-color: #f0f0f0;
$success-color: #24a344;
$danger-color: #d83146;

@mixin border-gray {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
}

@mixin output-message-border($color) {
  color: #fff;
  border-radius: 5px;
  padding: 0 3px;
  border: 8px solid $color;
  background: $color;
  line-height: 35px;
}

.app {
  font-family: "Roboto", sans-serif;
  font-size: 14px;

  @media (min-width: 980px) {
    display: flex;
  }
}

.user-input {
  @include border-gray;
  width: 230px;
  min-height: 130px;
  margin-right: 50px;
  margin-bottom: 30px;

  &__input {
    @include border-gray;
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 10px;
    width: 200px;
    height: 30px;
  }

  &__output-message {
    margin: 10px 15px 0 15px;
    word-wrap: break-word;
    color: #555;
    line-height: 20px;

    &--green {
      @include output-message-border($success-color);
    }
    &--red {
      @include output-message-border($danger-color);
    }
  }
}

.palindrome-list {
  width: 190px;
  margin: 0;
  padding: 0;

  &[title]::before {
    @include border-gray;
    content: attr(title);
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    color: #464646;
    width: 100%;
  }
  li {
    border-bottom: 2px solid $border-color;
    border-left: 2px solid $border-color;
    border-right: 2px solid $border-color;
    border-radius: 4px;
    padding: 10px 20px;
    width: 100%;
    list-style: none;
  }
}
