.user-input {
  &__output-message {
    font-size: 15px;
    &--green {
      color: green;
    }
    &--red {
      color: red;
    }
  }
}

.palindrome-list[title]::before {
  content: attr(title);
  font-weight: bold;
}
